#!/usr/bin/python
# -*- coding: utf8 -*-

DIRECT_EXAM_DB_USER = "{{ microservice_instance['microservice_app_db_user'] }}"
DIRECT_EXAM_DB_NAME = "{{ microservice_instance['microservice_app_db_name'] }}"
DIRECT_EXAM_DB_PASSWORD = "{{ microservice_instance['microservice_app_db_password'] }}"
DIRECT_EXAM_DB_HOST = "{{ microservice_instance['microservice_app_db_host'] }}"
DIRECT_EXAM_DB_PORT = "{{ microservice_instance['microservice_app_db_port'] }}"
DIRECT_EXAM_APP_INTERFACE = "{{ microservice_instance['microservice_app_interface'] }}"
DIRECT_EXAM_APP_PORT = "{{ microservice_instance['microservice_app_port'] }}"
